.header {
    height: 95vh;
    /*linear gradient in the first is direction second is color of the left and the right*/
    background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)
        ),
        url('../img/hero.jpg');
    /*Cover over the page*/
    background-size: cover;
    /**Background postion for backgroundimg that stay in that position. In this case backgroundImg will always stay at the top*/
    background-position: top;
    /*Clippath is doing for clip the shape of img*/
    /* These number inside clippath is co ordinate that your want to mark on it*/
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    /*On each name have each purpose that its made code more cleaner*/
    &__logo-box {
        position: absolute;
        top: 50px;
        left: 50px;
    }
    &__logo {
        height: 35px;
    }
    &__logo {
        height: 35px;
    }
    &__text-box {
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
