.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start/ col-end 6;
    background-image: linear-gradient(
            rgba($color-secondary, 0.9),
            rgba($color-secondary, 0.9)
        ),
        url(../img/hero.jpeg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem,min-content) 1fr;
    grid-template-columns: minmax(min-content,max-content);
    row-gap: 1.5rem;
    justify-content: center;
    
    padding-top: 4rem;
    padding: 8rem;
    @media screen and(max-width:$bp-meduim) {
        grid-column: 1/-1;
    }
    @media screen and(max-width:$bp-small) {
        padding: 5rem;
    }
    &__btn {
        align-self: start;
        justify-self: start;
    }

    &__logo {
        height: 3rem;
        justify-self: center;
    }
    &__seenon-text {
        display: grid;
        font-size: 1.6em;
        color: $color-grey-light-2;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 1.5rem;
        align-items: center;
        margin-bottom: 1rem;
        &::before,
        &::after {
            content: '';
            height: 1px;
            background-color: currentColor;
        }
    }
    &__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 3rem;
        justify-items: center;
        img {
            max-height: 2.5rem;
            max-width: 100%;

            filter: brightness(70%);
        }
    }
}
