*,
*::after,
*::before {
    /*We adding these for to reset to default website becuase we adding some 
    h1 will adding some margin and padding*/
    margin: 0;
    padding: 0;
    /* remove the border and padidng added*/
    box-sizing: inherit;
}
html {
    //This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px

    @include respond(tab-land) {
        font-size: 56.25%; //1rem = 9px, 9/16 = 50%
    }
    @include respond(tab-port) {
        font-size: 50%; //1rem = 8px, 8/16 = 50%
    }
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12px, 12/16 = 75%
    }
}
body {
    box-sizing: border-box;
    padding: 3rem;
    @include respond(tab-port){
        padding: 0;
    }
}
