.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
    & span{
        margin-left: 3px;
    }
    &:hover {
        color: var(--color-grey-dark-1);
        span{
            margin-left:.8rem ;
            transition: margin-left .2s;
        }
    }
    &:active{
        outline: none;
        animation: pulsate 1s infinite;
    }
}
